/*Code responsive*/

/*Responsive pour la partie fonctionnalité*/

@media screen and (max-width: 920px){
    .mockup__center{
        visibility: hidden;
        position: absolute;
    }
    
    .grid__feature{
       display: block;
    }
    .feature__01{
        display: block;
    }

    .grid__icon2, .grid__icon1, .grid__icon3{
        margin-bottom: 20px;
    }

    .section__02{
        margin-bottom: 60px;
    }
}



@media screen and (min-width:1441px) and (max-width: 1601px) {
    
    
}
